* {
  margin: 0;
  padding: 0;
}

/* Animation FadeInUp */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated {
  animation: fadeInUp 1.5s ease-in-out;
}

.header .search-bar {
  width: 300px;
}

/*Banner Home Styling*/
.Banner {
  width: 100%;
  height: 100vh;
  color: #000;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.Banner-Text {
  margin-top: 200px;
  margin-left: 50px;
}
.Banner-Text .Heading-Text {
  font-size: 3rem;
  font-weight: 900;
}

.Banner-Text .TagLine-Text {
  font-size: 2rem;
  font-weight: 300;
}
.Banner-Images {
  margin-top: 150px;
  margin-right: 50px;
}

.Banner .Shop-Button {
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 2ch;
  font-weight: 600;
  position: absolute;
  margin-top: 10px;
  border-radius: 13px;
}
.Banner .Shop-Button:hover {
  background-color: #fff;
  color: #000;
  font-weight: 900;
}

/*Styling Shop*/
.shop-page {
  background-color: #fff;
}

.shop-banner {
  color: #fff;
  background-color: #000;
  padding: 80px 0;
  text-align: center;
  height: 50vh;
}

.shop-heading {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.shop-subheading {
  font-size: 1.2em;
}

/*styling semua CARD  */
.ProductList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.product-card {
  max-width: 300px;
  max-height: 950px;
  margin: 10px;
}
.product-image {
  object-fit: cover;
}

.product-title {
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.product-text {
  margin-bottom: 12px;
}

.ProductList .product-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.ProductList .product-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
}

/*Categories*/
.Categories-Container {
  align-items: center;
  text-align: center;
  padding-top: 50px;
}
.FormControl {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.FormControl:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Footer Styling */

.footer {
  background-color: #000;
  color: #fff;
  padding: 40px 0;
}

.footer-heading {
  color: #fff;
}

.footer-text {
  color: #ccc;
}

.social-icons {
  margin-top: 20px;

  a {
    color: #fff;
    font-size: 20px;
    margin-right: 15px;
    transition: color 0.3s ease;

    &:hover {
      color: #3498db;
    }
  }
}

.footer-bottom {
  background-color: #000;
  padding: 40px 0;
  text-align: center;
}

.footer-copyright {
  color: #ccc;
  font-size: 14px;
  margin: 0;
}
.footer-row .right {
  padding-left: 250px;
}
